*{
    margin: 0;
}


.parent {
    width: 400px;
    height: 650px;
    background-color: rgb(255, 47, 210);
    position: relative;
    left: 40%;
    top: 200px;
    
}
.blankDiv {
    height: 40%;
    background-color: black;
    /* box-shadow: -3px -3px 3px rgb(255, 47, 210), 5px 0px 3px rgb(255, 47, 210) ; */
}
.blankDiv:hover {
    box-shadow: -3px -3px 3px rgb(255, 47, 210), 5px 0px 3px rgb(255, 47, 210) ;
}
.content {
    height: 60%;
    padding: 0px 10% 0px 10%;
    /* box-shadow: 5px 5px 3px black, -5px 0px 3px black; */
    
}
.content:hover {
    box-shadow: 5px 5px 3px black, -5px 0px 3px black;
}
.name {
    font-size: 25px;
    text-align: center;
    color: midnightblue;
    height: 25%;
}
h1 {
    padding-top: 50px;
}

.title {
    font-size: 22px;
    text-align: center;
    color: mediumspringgreen;
    height: 25%;
    margin-top: 50px;

}
.desc {
    font-size: 20px;
    text-indent: 40px;
    width: 80%;
    height: 50%;
}
.image {
    position: relative;
    bottom: 40%;
    left: 25%;
    
}
